<style>
input{
	background-color: #CFCFCF;
}
textarea{
	background-color: #CFCFCF;
}
.button {
	background-color: gray;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 9px;
}
.subres{
	background-color: gray;
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: px;
}
.contact{
	text-align: center;
	padding: 1px;
				
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #CFCFCF;
}
			
table, th, td {
	border: 1px solid;
	width: 10%;
	height: 30px;
}
	
 #box1 {
	height: 63vh;
	width: 22%;
	border-radius: 15px;
	flex-direction: column;
           	padding: 10px;
            	border: solid 2px gray;
}
</style>